@import url(d:\IT\todoList-test\no-ts\src\style\reset.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  min-height: 100vh;
  background-color: #d3d3d3;
  padding-bottom: 3.125rem;
}

.container {
  margin: 0 auto;
  max-width: 80%;
}

.form {
  padding-top: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-bottom: 6.25rem;
}

.form_title, .form_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .625rem;
  position: relative;
}

.form_input {
  width: 18.75rem;
  border: 1px solid black;
}

.form_input-red {
  border: 1px solid red;
}

.tasklist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.tasklist_heading {
  padding: .625rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 60%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #cecece;
}

.tasklist_item {
  text-transform: uppercase;
  font-weight: bold;
  width: 9.375rem;
  text-align: center;
}

.tasklist_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .625rem;
}

.tasklist_task {
  padding: .625rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 60%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #a5a5a5;
}

.tasklist_task:hover {
  cursor: pointer;
}

.tasklist_task div {
  width: 12.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.checkbox {
  display: block;
  width: .9375rem;
  height: .9375rem;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10%;
  margin: 0 auto;
}

.checkbox:hover {
  cursor: pointer;
}

.checked {
  background: url(../assets/check-mark.svg) center/auto 100% no-repeat;
  background-color: #fff;
}

.modal {
  width: 40%;
  background-color: #fff;
  padding: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .9375rem;
}

.modal_wrapper {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(118, 118, 118, 0.5);
}

.modal_title {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

.modal_description p {
  word-wrap: break-word;
}

.modal_description h3 {
  font-weight: bold;
  margin-bottom: .9375rem;
}

.modal_status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.modal_status span {
  margin: 0;
}

.modal_status span:hover {
  cursor: auto;
}

.modal_close {
  width: 20%;
  padding: .625rem;
  background-color: #efefef;
  border-radius: .625rem;
  text-align: center;
}

.modal_close:hover {
  cursor: pointer;
}

.error {
  display: block;
  color: red;
  font-size: .625rem;
  position: absolute;
  top: 100%;
  margin-top: .3125rem;
}

.show {
  display: block;
}

.hide {
  display: none;
}
/*# sourceMappingURL=App.css.map */